<html>
<head>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

</head>
<body ng-app="redditComments" ng-controller="MainController">

    <!--Title for each thread-->
    <div class="title" ng-repeat="comment in commentList">
        <div class="header" ng-click="getList(comment.data.id, $index)">
            <div class="arrows" ng-click="votingModal()">
                <i class="fa fa-arrow-up"></i>
                <div></div>
                <i class="fa fa-arrow-down"></i>
            </div>
            <div>{{comment.data.title}}</div>
        </div>
        <div class="date">
        {{(comment.data.created_utc * 1000) | date: 'medium' : 'UTC'}}
         </div>
        <hr>
    <!--Sorting type and order-->
        <div class="selections" ng-if="selected === $index">
            <span>
                <span> Sort By
                    <select ng-model="commentList[$index].property" ng-change="setSort($index)">
                        <option value="ups">Up Vote</option>
                        <option value="created_utc">Time</option>
                        <option value="score">Score</option>

                    </select>
                </span>
                <span> Display Order
                    <select ng-model="commentList[$index].order" ng-change="setOrder($index)">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>

                    </select>
                </span>
            </span>
        </div>
        <!--List of comments for each thread-->
        <div class="comment" ng-repeat="comment in commentList[$index].comments  | orderBy: property:order">
            <div class="arrows" ng-click="votingModal()">
                <i class="fa fa-arrow-circle-up"></i>
                <div></div>
                <i class="fa fa-arrow-circle-down"></i>
            </div>
            <div class="comment-header">
                {{comment.data.author}}
                {{(comment.data.created_utc * 1000) | date: 'short' : 'UTC'}}

            </div>
            <div class="comment-body">
                  {{comment.data.body}}
            </div>

        </div>

        <!-- error modal for voting -->
        <div id="votingError" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">
                        <i class="fa fa-times-circle"></i>
                    </span>
                    <h2>Voting Error</h2>
                </div>
                <div class="modal-body">
                    <p>Voting here is not allowed. Please go to Reddit to cast your vote</p>
                </div>
                <div class="modal-footer"></div>
            </div>

        </div>

    </div>

</body>
</html>